<link rel="stylesheet" href="../assets/css/header.css">
<header id="nav">
    <div class="left-div">
        <a href="/">
          <img
            class="img img-rounded"
            src="https://ninjasfiles.s3.amazonaws.com/0000000000003454.png"
            alt="logo"
          />
        </a>
      </div>
    <ul>
        <% if (locals.user ){%>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/signout">Sign Out</a>
            </li>

        <% }else {%>

            <li>
                <a href="/users/sign-in">SignIn</a>
            </li>
            <li>
                <a href="/users/sign-up">SignUp</a>
            </li>

            <% }%>
    </ul>
</header>