<link rel="stylesheet" href="/css/user_profile.css" >
<h1>
    Codiel / Profile Page
</h1>

<% if(user.id == profile_user.id){ %>
    <!-- if user match show the form -->
    <form action="/users/profile/:id" method="post">
        <input type="text" name="name" placeholder="Yours name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Yours Email" value="<%= profile_user.email %>" required>
        <input type="submit" value="Update">
    </form>

<% } else {%>
    <!-- if user m show the Profuiole only -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>