#nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background: #2196f3;
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.left-div{
  padding: 20px;
}
.img-img-rounded{
  width: auto;
  height: 25px;
}
#nav ul {
  display: flex;
  list-style-type: none;
  gap: 35px;
  text-align: justify;
}

#nav ul li {
  padding: 8px;
  margin-top: 5px;
  font-weight: bolder;
}

#nav ul li a {
  text-decoration: none;
  color: #fff;
}

#nav ul li a:hover {
  text-decoration: underline;
}

#nav ul li:hover {
  cursor: pointer;
}
.center-div{
  float: center;
  padding: 8px;
  width: 55%;
  height: 50px;
  margin: 10px;
  border: none;
  font-size: 20px;
}

.rounded-circle{
  height: 40px;
  width: 40px;
  border-radius: 75%;
}